<div class="center jumbotron">
  <h1>Welcome to Your Course App</h1>

  <h2>
    This is the home page for RAD Assignment 2
  </h2>

  <%= link_to "Sign up now", signup_path, class:"btn btn-lg btn-danger"%>

</div>

<div class="row">
        <div class="colum-left">
          <h2><b>View Course as Guest User</b></h2>
          <p>Browse and view courses as a guest<br> and sign up later</p>
          <%= link_to "Browse all courses", courses_path, class:"btn btn-sm btn-success"%>
        </div>

        <div class="column-right">
          <h2><b>Sign in to your account</b></h2>
          <p>Update your courses, rate courses, view <br>coordinator infomations</p>
          <%= link_to "Log in to your account", login_path, class:"btn btn-sm btn-success"%>
        </div>
     </div>
