
<% provide(:title, @user.name) %>

<div class="row">
    <div class="d-flex justify-content-between">
            <h1><%= "Coordinator: "+ @user.name %></h1>
                    <%= gravatar_for @user %>
              

    </div>
</div>
