<% provide(:title, 'User profile') %>
<p id="notice"><%= notice %></p>


<h1>Coordinator : <%= @user.name %></h1>

  <div class="row">
    <div class="col-md-8" >

        <%= gravatar_for @user %><br>
        
        <% if current_user.admin? && !current_user?(@user) %>
            | <%= link_to "delete", @user, method: :delete,
                                      data: { confirm: "You sure?" } %>
                                      
        <% end %>
          
     <br><br>
    </div>
  </div>
