<h1> Categories  for <%= @course.name %> </h1>
<% if @course.categories.count > 0 %>
<table>
<thead> <tr> <th> Category </th>
</thead>
<tbody> <% @course.categories.each do |category| %>
<tr> <td> <%= link_to category.name, category %> </td>
</tr>
<% end %>
</tbody >
</table >
<% else %>
<p> No students are enrolled. </p>
<% end %>