<p id="notice"><%= notice %></p>

<h1>Courses in <%= @categories.name%></h1>


 <% @categories.each do |category| %>
 <div class="row">
    <div class="col-md-8" >

      <div class="details" >
   
            <p>Category Name: <%= link_to category.name, category %></p>
              <p>Courses: <%= category.courses.collect {|c| 
              link_to( c.name, c)}.join(" , ").html_safe %></p><br>
              
      </div> <br><br>
  </div>
</div>
<% end %>


