<p id="notice"><%= notice %></p>

<h1>Courses in <%= @category.name %> </h1>

<% if @category.courses.count < 1 %>
  <h4 style="text-align: center;">No courses are allocated to this category.</h4>

<% else %>
  <%#= render 'category.nav' %>
  <div class="row">

 
    <div class="col-md-8" >

        <div class="details" >
            <p>Name:  <%#= course.name  %></p>
            <%# <p>Prerequisite: </p><%= @course.prerequisite %>
            <p>Category: <%#= @course.category.map&(:name).join(',') %>
            
            <p> Created: <%#= time_ago_in_words(@course.created) %></p>
   
            </div>
        </div><br><br>
    </div>
  </div>

<% end %>
