<hr>
<ul class="nav nav-tabs">
  <li > <%= link_to "Courses", courses_path %></li>
  <li><%= link_to "Coordinators", coordinators_path %></li>
</ul>

<div class="tab-content">
  <div id="courses" class="tab-pane fade in active">
    
  </div>

  <div id="coordinators" class="tab-pane fade">
    
  </div>
</div>
<br>

