<p>

<<<<<<< HEAD
<div  id = footerbackground>
  <%= link_to "Courses", courses_path %> |
  <%= link_to "Coordinators", categories_path %>
</div>
=======
<%= link_to "Courses", courses_path %> |
<%= link_to "Coordinators", coordinators_path %>
>>>>>>> master


<hr>
