<p id="notice"><%= notice %></p>

<h1>Locations</h1>


    <% @locations.each do |location| %>
   <div class="row">
    <div class="col-md-8" >

      <div class="details" >
        <p>Location: <%= link_to location.name, location %></p>
        <p>Courses: <%= location.courses.collect {|c| 
        link_to( c.name, c)}.join(",").html_safe %></p>
        
      </div> <br><br>
    </div>
  </div>
<% end %>

