<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "yourcourse", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
           
        <%= select("post", "name", Category.all.collect {|p| [ p.name ] }, {prompt: 'Category'})  %>
              
             
          </li>
        <li class="dropdown">
           
              <%= select("post", "place", Location.all.collect {|p| [ p.place ] }, {prompt: 'Locations'}) %>
             
          </li>
        <li><%= link_to "Log in", '#'  %></li>
        
      </ul>
    
    </nav>
  </div>
</header>